.presentation-section {
  display: flex;
}

.presentation {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emphasis-name {
  color: var(--primary-light);
}

.title-presentation h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

.title-presentation h2 {
  font-size: 2.8rem;
}

.title-presentation p {
  padding-top: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.info-presentation {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.info-presentation p {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
}

.typeAnimation {
  padding-left: 6px;
}

.social {
  display: flex;
  justify-content: space-around;
  gap: 1.4rem;
}

.social a {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: 2px solid var(--primary-dark);
  border-radius: 10px;
  color: white;
  background-color: #121212;
  cursor: pointer;
  transition: 0.4s;
}

.social a:hover {
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-dark);
  color: white;
}

.social a svg {
  margin-right: 5px;
}

.social a svg path {
  color: white;
}

.programmer-img {
  width: 40%;
}

.programmer-img img {
  width: 80%;
}

.about-me-section {
  background-color: #1c1c1c;
  min-height: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.about-me {
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-me-info {
  width: 40%;
}

.about-me-info h2 {
  color: var(--primary-light);
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1.7rem;
}

.about-me-info p { 
  text-align: center ;
  font-size: 1.4rem;
  color: white;
}

.about-me-img {
  width: 35%;
}

.about-me-img  img{
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
}

.technologies-section {
  min-height: 650px;
  padding-bottom: 2rem;
}

.tech-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-technologies {
  color: var(--primary-light);
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
}

.about-technologies {
  text-align: justify;
  font-size: 1.4rem;
  margin: 4rem auto;
  width: 40%;
}

.tech-imgs {
  width: 40%
}

.links-contents {
  margin-top: 4rem ;
  font-size: 1.6rem;
  display: flex;
  padding: 0 2rem;
  width: 100%;
  justify-content: space-between;
}

.links-contents a {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
  border: 2px solid var(--primary-dark);
  border-radius: 10px;
  color: var(--primary-dark);
  background-color: #121212;
  transition: .5s;
}


.links-contents a:hover {
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-dark);
  color: white;
}
