.home-container {
  animation: fadeIn 1.2s 0s;
}

.presentation-section {
  display: flex;
}

.presentation {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emphasis-name {
  color: var(--primary-light);
}

.title-presentation h1 {
  font-size: 1.6rem;
  font-weight: 500;
}

.type-animation-name {
  font-size: 3.2rem;
  color: var(--primary-light);
  font-weight: bold; 
}

.type-animation-presentation {
  margin-left: 5px;
  font-size: "1.4rem";
  color: "#c7c7c7";
}

.title-presentation h2 {
  font-size: 2.8rem;
}

.title-presentation p {
  padding-top: 1rem;
  font-size: 1.6rem;
  font-weight: bold;
}

.info-presentation {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.info-presentation p {
  align-items: center;
  display: flex;
  font-size: 1.4rem;
}

.link-presentation {
  margin: 5px;
  font-weight: bold;
  color: var(--primary-light);
}

.typeAnimation {
  padding-left: 6px;
}

.social {
  display: flex;
  justify-content: space-around;
  gap: 1.4rem;
}

.social a {
  align-items: center;
  display: flex;
  font-size: 1.3rem;
  padding: 0.5rem;
  border: 2px solid var(--primary-dark);
  border-radius: 10px;
  color: white;
  background-color: #121212;
  cursor: pointer;
  transition: 0.4s;
}

.social a:hover {
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-dark);
  color: white;
}

.social a svg {
  margin-right: 5px;
}

.social a svg path {
  color: white;
}

.programmer-img {
  width: 40%;
}

.programmer-img img {
  width: 80%;
}

.about-me-section {
  background-color: var(--bg-color-light);
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.about-me {
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about-me-info {
  width: 40%;
}

.about-me-name {
  color: var(--primary-light);
  font-weight: bold;
}

.about-me-info h2 {
  color: var(--primary-light);
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1.7rem;
}

.about-me-info p { 
  text-align: center ;
  font-size: 20px;
  color: white;
}

.about-me-img {
  width: 35%;
}

.about-me-img  img{
  width: 100%;
  opacity: 0.9;
  border-radius: 5px;
  box-shadow: -5px 4px 4px 1px var(--primary-dark);
}

.technologies-section {
  min-height: 100vh;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tech-contents {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.title-technologies {
  color: var(--primary-light);
  margin-bottom: 4rem;
  text-align: center;
  font-size: 2rem;
}

.about-technologies {
  text-align: justify;
  font-size: 20px;
  margin: 4rem auto;
  width: 40%;
}

.tech-imgs {
  width: 40%;
  padding-right: 2rem;
}

.tech-imgs img {
  width: 80%;
}

.links-contents {
  margin-top: 4rem ;
  font-size: 1.6rem;
  display: flex;
  padding: 0 2rem;
  width: 100%;
  justify-content: space-between;
}

.links-contents a {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .5rem 1rem;
  border: 2px solid var(--primary-dark);
  border-radius: 10px;
  background-color: var(--bg-color-dark);
  transition: .5s;
}


.links-contents a:hover {
  background-color: var(--primary-dark);
  border: 2px solid var(--primary-dark);
  color: white;
}

@media only screen and (max-width: 1100px) {
  .presentation-section {
    justify-content: space-between;
    padding: 0 1rem;
    align-items: center;
  }

  .info-presentation p {
    display: block;
    font-size: 1.2rem;
  }

  .social a {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .presentation-section {
    flex-direction: column;
    padding: 0 1rem;
  }
  

  .type-animation-presentation {
    font-size: "1.2rem";
  }

  .presentation {
    width: 100%;
  }
  
  .social {
    padding: 1rem 0;
  }

  .programmer-img img {
    width: 100%;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me-img {
    width: 40%;
  }

  .about-me-info {
    width: 80%;
  }
  
  .about-technologies {
    width: 80%;
  }

  .tech-imgs {
    display: none;
  }

  .links-contents {
    font-size: 1.1rem;
    padding: 0 .5rem;
  }

  .links-contents a {
    width: 32%;
    padding: .5rem 1rem;
  }
}

@media only screen and (max-width: 550px) {
  .type-animation-name {
    font-size: 2.4rem;
  }

  .title-presentation p {
    font-size: 1.5rem;
  }

  .info-presentation p {
    display: block;
    font-size: 1.2rem;
  }

  .programmer-img {
    width: 60%;
    margin: 1rem 0;
  }

  .social {
    flex-wrap: wrap;
  }

  .social a {
    width: 40%;
  }

  .technologies {
    gap: 5px;
    flex-wrap: wrap;
  }

  .about-me-img {
    width: 50%;
  }

  .about-me-img img {
    box-shadow: 0 5px 2px var(--primary-light);
  }

  .about-me-info h2 {
    font-size: 1.8rem;
  }

  .about-me-info p {
    font-size: 18px;
  }

  .title-technologies {
    font-size: 1.8rem;
  }

  .about-technologies {
    font-size: 18px;
  }

  .links-contents {
    justify-content: center;
    flex-wrap: wrap;
    gap: .4rem;
  }

  .links-contents a {
    width: auto;
  }
}