.project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 3rem 1rem;
  min-height: 80vh;
  animation: fadeInUp 1s 0s;
}

.projects-title-container {
  animation: fadeIn 1s 0s;
  margin: 2rem auto;
}

.projects-title-container div{
  font-size: 2.2rem;
  text-align: center;
}

.title-projects {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  gap: 6px;
}

.type-animation-projects {
  color: var(--primary-light);
  font-weight: 700;
}

.project-container .project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  box-shadow: 0 0 4px black;
  background-color: var(--bg-color-light);
  border-radius: 10px;
}

.project-container .project-name {
  font-size: 1.8rem;
}

.project-container .project-card .media {
  max-width: 100%;
  min-height: 210px;
  opacity: 0.7;
  scale: 0.9;
  transition: 0.5s; 
  margin: 1rem 0;
}

.project-container .project-card .media:hover {
  opacity: 1;
  scale: 1;
}

.project-buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.project-buttons button {
  cursor: pointer;
  color: var(--primary-dark);
  background-color: var(--bg-color-dark);
  border: 1px solid var(--primary-dark);
  font-weight: bold;
  padding: .5rem;
  border-radius: 5px;
  transition: .5s;
}

.project-buttons button:hover {
  background-color: var(--primary-dark);
  color: var(--bg-color-dark);
  border: 1px solid var(--bg-color-dark);
}

.back-to-top {
  cursor: pointer;
  margin: auto;
  display: none;
  align-items: center;
  gap: 5px;
}

@media only screen and (max-width: 768px) {
  .project-container .project-card {
    width: 40%;
  }

  .project-buttons {
    flex-wrap: wrap;
  }
}


@media only screen and (max-width: 500px) {
  .project-container {
    padding: 2rem .5rem;
  }

  .project-container .project-card {
    width: 80%;
    margin: 1.2rem auto;
  }

  .back-to-top {
    display: flex;
  }
}