.project-details-container {
  min-height: 80vh;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  animation: fadeIn 1s 0s;
}

.project-details-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-light);
  padding: 2rem;
  margin-bottom: 3rem;
  border-radius: 10px;
}

.project-details-title {
  font-size: 2.2rem;
  padding: .6rem 0;
}

.project-details-card .preview-project {
  min-width: 550px;
}

.project-details-describe {
  padding: 1rem ;
  text-align: justify;
  letter-spacing: 1px;
  width: 100%;
}

.describe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-bottom: 1rem;
}

.project-details-technologies {
  padding: 1rem ;
  width: 100%;
}

.project-details-technologies .technologies-title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-bottom: 1rem;
}

.details-buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 2rem;
}

.details-buttons button {
  cursor: pointer;
  align-items: center;
  display: flex;
  gap: 3;
  color: var(--secondary-light);
  background-color: var(--bg-color-dark);
  border: 1px solid var(--secondary-light);
  font-weight: bold;
  font-size: 1rem;
  padding: .5rem;
  border-radius: 5px;
  transition: .5s;
}

.details-buttons button svg {
  margin-left: 5px;
}

.details-buttons button:hover {
  background-color: var(--secondary-dark);
  color: white;
  border: 1px solid white;
}
