*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

html, body, #root {
  background-color: #121212;
  height: 100%;
}

:root {
  --primary-light: #1CE658;
  --primary-dark: #1E9E29;
  --secondary-light: #ba68c8;
  --secondary-dark: #703e78;
}

::-webkit-scrollbar {
  display: none;
}
