*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --primary-light: #1CE658;
  --primary-dark: #1E9E29;
  --secondary-light: #7f32ee;
  --secondary-dark: #411183;
  --bg-color-light: #1c1c1c;
  --bg-color-dark: #121212;

  --animate-delay: 0;
  --animate-duration: 800ms;
}

html, body, #root {
  background-color: var(--bg-color-dark);
  height: 100%;
}


::-webkit-scrollbar {
  display: none;
}
